<header class="navbar navbar-fixed-top navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <h1><a class="navbar-brand" href="/">LGD Direct CAP <small>직캠</small></a></h1>
        </div>
        <!-- /navbar-header -->
        <div class="scroll-wrap">
            <nav class="gnb">
                <ul class="nav navbar-nav">
                    <li><a href="/status">실시간현황</a></li>
                    <li><a href="/report">영상이력조회</a></li>
                    <li><a href="/setup/setting">환경설정</a></li>
                </ul>
            </nav>
            <!-- /gnb -->
        </div>
        <!-- /scroll-wrap -->

        <div class="navbar-form navbar-right">
            <div class="dropdown">
                <button type="button" class="btn btn-user dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <strong id="top_id"></strong> <small id="top_lv"></small> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">개인정보수정</a></li>
                    <li><a href="/">다른계정 로그인</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </div>
            <!-- /dropdown -->
            <a href="/logout">
                <button type="button" class="btn btn-ico btn-signout" aria-label="Sign Out">
                    <span class="ico ico-sign-out" aria-hidden="true"></span>
                </button>
            </a>
            <!-- /btn -->
        </div>
        <!-- /navbar-form -->
    </div>
    <!-- /container -->
</header>
<!-- /navbar -->
